* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body.dark {
	--bg-color: #171717;
	--text-color: #e8f0ff;
	--theme-color: #6d28d9;
	--hover-color: #40376e;
	overflow: hidden;
	height: 100vh;
}
body.zinc {
	--bg-color: #171717;
	--text-color: #e8f0ff;
	--theme-color: #d4d4d8;
	--hover-color: #71717a;
	overflow: hidden;
	height: 100vh;
}
i {
	position: fixed;
	height: 200px;
	background: linear-gradient(transparent, var(--theme-color));
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	animation: animate 5s linear infinite;
}
/* i:nth-child(3n + 1) {
	background: linear-gradient(transparent, #0ff);
}*/
@keyframes animate {
	0% {
		transform: translateY(-200px);
	}
	100% {
		transform: translateY(calc(100vh + 200px));
	}
}
body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: "Roboto", sans-serif;
}
.container {
	text-align: center;
	width: 300px;
	margin: 60px auto;
	position: relative;
}
.profile {
	width: 100%;
	border-radius: 50%;
	border: var(--theme-color) solid 4px;
	padding: 4px;
	width: 100px;
	height: 100px;
}
h1 {
	margin-top: 24px;
	margin-bottom: 8px;
	font-size: 32px;
}
.info {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	opacity: 0.8;
	font-size: 15px;
}
.ul-img {
	margin-right: 10px;
}
ul {
	list-style: none;
	margin: 48px 0;
}
ul li a {
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--theme-color);
	color: var(--bg-color);
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 16px;
	border-radius: 6px;
	transition: background 400ms;
}
ul li a:hover {
	background: var(--hover-color);
}
footer {
	font-weight: 500;
	font-size: 12px;
	opacity: 0.6;
	transition: opacity 400ms;
}
footer:hover {
	opacity: 1;
}
footer a {
	color: var(--text-color);
}
